@media (max-width:576px){
    .header{
        min-height: 100vh;

    }
    .header-content__title{
        font-size: 4rem;
    }  
}
@media (max-width:385px){

    .destinations__title{
        font-size: 2.4rem;
    }
    .newsletters__title{
        max-width: 16rem;
    }
}
@media (min-width:576px){
    
}

@media (min-width:768px){
    .nav__btn, .nav-menu{
        display: none;
    }
    .menu{
        display: flex;
    }
    .newsletters{
        flex-direction: row;
        text-align: left;
        align-items: center;
    }
    .newsletters__content{
        flex-basis:60% ;
        padding-right: 2rem;
    }
    .newsletters__banner{
        flex-basis:40% ;
    }
}

@media (min-width:992px){
    .nav__links{
        display: block;
    }
    .header-content__caption{   
        max-width: 50rem;
    }
    .newsletters__content{
        padding-right: 4rem;
    }
    .newsletters__title{
        margin-bottom: 0;
    }
}

@media (min-width:1200px){
    .newsletters{
        justify-content: space-between;
    }
    .newsletters__content{
        flex-basis:auto ;
        width: 60rem;
    }
    .newsletters__banner{
        flex-basis:auto ;
        width: 42rem;
    }
}

@media (min-width:1400px){
    .header{
        min-height: 67vh;

    }
    .newsletters{
        padding: 3rem 6rem;
    }
}
@media (min-width:2400){
    .header{
        min-height: 60vh;
    }
}